<section >
    <div class="container ">
        <div class="row">
            <a href="/admin/add-cart" class="btn btn-success ml-auto">add</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">CONDITION</th>
                </tr>
            </thead>
            <tbody>
                {{#each product}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.condition}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>